<form action="/articles" method="post">
   <p>Title:  <label for="title">Name</label></p>
    <input type="text" id="title" name="article[title]"></input>
    
   <p>Content: <label for="content">Name</label></p>
    <input type="text" id="content" name="article[content]"></input>
    <input type="submit" value="submit">
</form>